*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(220, 210, 210);
}
#main-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#img-div{
    width: 100%;
    height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;

}
#img-div img{
    width: 100%;
    position: absolute;
    top: 0;
}
#recipe-cards{
    background-color: rgb(212, 196, 212,0.5);
    width: 80%;
    border: 1px solid white;
    border-radius: 5%;
    padding: 30px;
    display: grid;
    /* grid-template-columns: 30% 30% 30%; */
     grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-auto-rows: 350px;
    row-gap: 30px;
    column-gap: 30px;
    z-index: 1;
    

}
/* .card{
    /* height: 300px; */
    /* width: 30%; */
    /* display: flex;
    flex-direction: column;
    background-color: #ebe2ea;
    justify-content: center;
    align-items: center;
    border-radius: 5%; */
/* } */
/* .card-img{ */
    /* width: 90%; */
    /* height: 60%; */
/* } */
/* .card-img img{ */
    /* width: 100%; */
    /* height: 100%; */
/* }  */
.recipe-name{
    color: darkred;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}
.card a{
    text-decoration: none;
}
.show-details{
    margin-top: 10px;
}